In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv("Electicity_Consumption_train.csv", index_col=0)

In [3]:
df.head()

,datetime,temperature,var1,pressure,windspeed,var2,electricity_consumption
ID,,,,,,,
0,2013-07-01 00:00:00,-11.4,-17.1,1003.0,571.910,A,216.0
1,2013-07-01 01:00:00,-12.1,-19.3,996.0,575.040,A,210.0
2,2013-07-01 02:00:00,-12.9,-20.0,1000.0,578.435,A,225.0
3,2013-07-01 03:00:00,-11.4,-17.1,995.0,582.580,A,216.0
4,2013-07-01 04:00:00,-11.4,-19.3,1005.0,586.600,A,222.0

In [4]:
df.columns

Index(['datetime', 'temperature', 'var1', 'pressure', 'windspeed', 'var2',
       'electricity_consumption'],
      dtype='object')

In [5]:
def time_vars_with_day(df, var):
    df[var +'_Year'] = pd.DatetimeIndex(df[var]).year
        
    df[var +'_Month'] = pd.DatetimeIndex(df[var]).month
    
    df[var +'_Day'] = pd.DatetimeIndex(df[var]).weekday
    
    df[var +'_Hour'] = pd.DatetimeIndex(df[var]).hour

In [6]:
time_vars_with_day(df,'datetime')

In [7]:
df.columns

Index(['datetime', 'temperature', 'var1', 'pressure', 'windspeed', 'var2',
       'electricity_consumption', 'datetime_Year', 'datetime_Month',
       'datetime_Day', 'datetime_Hour'],
      dtype='object')

In [8]:
df.head()

,datetime,temperature,var1,pressure,windspeed,var2,electricity_consumption,datetime_Year,datetime_Month,datetime_Day,datetime_Hour
ID,,,,,,,,,,,
0,2013-07-01 00:00:00,-11.4,-17.1,1003.0,571.910,A,216.0,2013,7,0,0
1,2013-07-01 01:00:00,-12.1,-19.3,996.0,575.040,A,210.0,2013,7,0,1
2,2013-07-01 02:00:00,-12.9,-20.0,1000.0,578.435,A,225.0,2013,7,0,2
3,2013-07-01 03:00:00,-11.4,-17.1,995.0,582.580,A,216.0,2013,7,0,3
4,2013-07-01 04:00:00,-11.4,-19.3,1005.0,586.600,A,222.0,2013,7,0,4

In [11]:
df.datetime_Month.unique()

array([ 7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,  6])