In [2]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [3]:
#Lets create a Series (array of data and data labels, its index)

obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
#Now lets create a Series with an index

#WW2 casualties 
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],
                 index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
ww2_cas.index

Index(['USSR', 'Germany', 'China', 'Japan', 'USA'], dtype='object')

In [8]:
#Now we can use index values to select Series values
ww2_cas['USA']

400000

In [12]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [10]:
#Check who had casualties greater than 4 million
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [14]:
#Can treat Series as ordered dictionary
#Check if USSR is in Series
'USSR' in ww2_cas

True

In [15]:
#Can convert Series into Python dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [16]:
#Can convert back into a Series
WW2_Series = Series(ww2_dict)
WW2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [19]:
#Passing a dictionary the index will have the dict keys in order
countries = ['China','Germany','Japan','USA','USA','USSR','Argentina','Argentina']

In [20]:
#Lets redefine a Series
obj2 = Series(ww2_dict,index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Argentina          NaN
dtype: float64

In [21]:
obj2_dict = obj2.to_dict()
obj2_dict

{'China': 3000000.0,
 'Germany': 4300000.0,
 'Japan': 2100000.0,
 'USA': 400000.0,
 'USSR': 8700000.0,
 'Argentina': nan}

In [24]:
#We can use isnull and notnull to find missing data
#pd.isnull(obj2)
sernull = obj2[obj2.isnull() ]
sernull

Argentina   NaN
Argentina   NaN
dtype: float64

In [25]:
#Same for the opposite
#pd.notnull(obj2)
notnull = obj2[obj2.notnull()]
notnull

China      3000000.0
Germany    4300000.0
Japan      2100000.0
USA         400000.0
USA         400000.0
USSR       8700000.0
dtype: float64

In [26]:
#Now we can add and pandas automatically aligns data by index
WW2_Series + obj2

Argentina           NaN
Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [27]:
#We can give Series names
obj2.name = "World War 2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [28]:
#We can also name index
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Argentina          NaN
Name: World War 2 Casualties, dtype: float64